<% provide(:title, 'Edit Article') %>

<h1>Edit Article</h1>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
  <h4>Edit Article</h4>
    <%= form_for(@article) do |f| %>

      <%= f.label :category %>
      <%= f.text_field :category %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :body %>
      <%= f.text_area :body, size: "60x12" %>

      <%= f.submit "Save Changes", class: "btn btn-default" %>
    <% end %>
  </div>
</div>