<% provide(:title, 'New Article') %>


<div class="row">
  <div class="col-xs-5 col-xs-offset-2">
	<h4>New Article</h4>
    <%= form_for(@article) do |f| %>

      <%= f.label :category %>
      <%= f.text_field :category %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :body %>
      <%= f.text_area :body, size: "60x12" %>

      <%= f.submit "Add Article", class: "btn btn-default" %>
    <% end %>
  </div>
</div>